<ons-navigator var="app.navi">
    <ons-page ng-controller="aboutController as ctrl">

        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">A propos</div>
        </ons-toolbar>

        <div class="sessionContainer">
            <div>
                <h2>Description</h2>
                <div ng-bind-html="description"></div>
            </div>
            <div>
                <h2>Version</h2>
                <div ng-bind-html="version"></div>
            </div>
            <div>
                <h2>Auteur</h2>
                <div ng-bind-html="auteur"></div>
            </div>
            <div>
                <h2>Liens</h2>
                <button class="button button--outline" ng-click="goToGithub()"><i class="fa fa-github fa-lg"></i> Github</button>
            </div>
        </div>

    </ons-page>
</ons-navigator>